.jurnal-event-container {
  position: absolute;
  top: 55%;
  left: 78%;
  height: 40%;
  width: 20%;

  background-color: rgb(0, 0, 0);
  border: 5px solid var(--borderColour);
  border-radius: 5px;
  z-index: 2;

  box-sizing: border-box;

  padding: 10px;
  color: white;
}

.jurnal-event-component-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows:  repeat(9, 1fr);

  height: 100%;
}

.jurnal-event-component-grid-title {
  grid-column: 1 / 6;
  grid-row: 1;
}

.jurnal-event-component-grid-enlarge {
  grid-column: 6 / 7;
  grid-row: 1;
}

.jurnal-event-component-grid-event-data {
  grid-column: 1 / 7;
  grid-row: 2/6;
}

.jurnal-event-component-grid-outpost-data {
  grid-column: 1 / 7;
  grid-row: 6 / 10;
}

.outpost-hit-list-container {
  height: 70%;
  scrollbar-gutter: stable;
  overflow-y: auto;
}


