.ppe-page-container {
  width: 100%;
  height: 100%;

  position: relative;

  color: white;
}

.ppe-page-container img {
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.486); */
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(
    var(--brightness)
  ); /* Adjust the percentage to make it darker or lighter */
}

.content-space {
  position: absolute;

  top: 30%;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 70%;
  gap: 10px;
  z-index: 10;
}
